<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.ai.admin.dao.DownMapper">
	<!-- AI 컨텐츠 다운로드 리스트 조회 -->
	<select id="selectProdDownList" parameterType="com.ai.admin.vo.ProdDownSearchVo" resultType="com.ai.admin.vo.ProdDownVo">
		SELECT PD.MENU_ID
		     , (SELECT MENU_NM FROM CM_MENU WHERE MENU_ID = PD.MENU_ID) AS MENU_NM
		     , PD.PROD_ID
		     , PD.PROD_CL_CD
			 , F_GET_CODE_NAME('CU005', PD.PROD_CL_CD) AS PROD_CL_NM
			 , PD.DOWN_ID
			 , PD.FST_CRER_ID
			 , IFNULL((SELECT USER_NM FROM CU_USER WHERE USER_ID = PD.FST_CRER_ID), PD.FST_CRER_ID) AS FST_CRER_NM
			 , DATE_FORMAT(PD.FST_CRE_DTM, '%Y.%m.%d') AS FST_CRE_DTM
			 , PD.AUDIT_ID
			 , IFNULL((SELECT USER_NM FROM CU_USER WHERE USER_ID = PD.AUDIT_ID), PD.AUDIT_ID) AS AUDIT_NM
			 , DATE_FORMAT(PD.AUDIT_DTM, '%Y.%m.%d') AS AUDIT_DTM
			 , PD.USER_ID
			 , (SELECT USER_NM FROM CU_USER WHERE USER_ID = PD.USER_ID) AS USER_NM
			 , PD.DOWN_STATUS
			 , F_GET_CODE_NAME('CU006', PD.DOWN_STATUS) AS DOWN_STATUS_NM
			 , PD.DOWN_CNT
			 , PD.PROD_DISCOUNT_RATE
			 , PD.PROD_NM
			 , PD.PROD_PRICE
		  FROM PR_PROD_DOWN PD
		 WHERE 1 = 1
		   <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(searchValue)'>
			   <if test='@org.apache.commons.lang3.StringUtils@equals(searchKey, "prodNm")'>
				   AND PD.PROD_NM LIKE CONCAT('%', #{searchValue}, '%')
			   </if>
			   <if test='@org.apache.commons.lang3.StringUtils@equals(searchKey, "prodClNm")'>
				   AND F_GET_CODE_NAME('CU005', PD.PROD_CL_CD) LIKE CONCAT('%', #{searchValue}, '%')
			   </if>
			   <if test='@org.apache.commons.lang3.StringUtils@equals(searchKey, "user")'>
				   AND CONCAT(PD.USER_ID, (SELECT USER_NM FROM CU_USER WHERE USER_ID = PD.USER_ID)) LIKE CONCAT('%', #{searchValue}, '%')
			   </if>
			   <if test='@org.apache.commons.lang3.StringUtils@equals(searchKey, "status")'>
				   AND F_GET_CODE_NAME('CU006', PD.DOWN_STATUS) LIKE CONCAT('%', #{searchValue}, '%')
			   </if>
		   </if>
		 ORDER BY PD.FST_CRE_DTM DESC
	</select>

	<!-- 상품다운로드 상태 수정 -->
	<update id="updateProdDownStatus" parameterType="com.ai.admin.vo.ProdDownVo">
		UPDATE PR_PROD_DOWN
		   SET DOWN_STATUS = #{downStatus}
			 , AUDIT_ID = #{ssLoginId}
			 , AUDIT_DTM = NOW()
		 WHERE 1 = 1
		   AND MENU_ID = #{menuId}
		   AND PROD_ID = #{prodId}
		   AND PROD_CL_CD = #{prodClCd}
		   AND DOWN_ID = #{downId}
	</update>
</mapper>