<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.ai.admin.dao.ProdMapper">
	<!-- 상품 리스트 조회 -->
	<select id="selectProdList" parameterType="com.ai.admin.vo.ProdSearchVo" resultType="com.ai.admin.vo.ProdVo">
		SELECT PP.PROD_ID
			 , PP.PROD_CL_CD
			 , F_GET_CODE_NAME('CU005', PP.PROD_CL_CD) AS PROD_CL_NM
			 , PP.FST_CRER_ID
			 , IFNULL((SELECT USER_NM FROM CU_USER WHERE USER_ID = PP.FST_CRER_ID), PP.FST_CRER_ID) AS FST_CRER_NM
			 , DATE_FORMAT(PP.FST_CRE_DTM, '%Y.%m.%d') AS FST_CRE_DTM
			 , PP.AUDIT_ID
			 , IFNULL((SELECT USER_NM FROM CU_USER WHERE USER_ID = PP.AUDIT_ID), PP.AUDIT_ID) AS AUDIT_NM
			 , DATE_FORMAT(PP.AUDIT_DTM, '%Y.%m.%d') AS AUDIT_DTM
			 , PP.PROD_NM
			 , PP.DISPLAY_YN
			 , PP.PROD_DISCOUNT_RATE
			 , FORMAT(PP.PROD_PRICE , 0) AS PROD_PRICE
			 , PP.PROD_MARKET
			 , PP.PROD_CTT
			 , IF((SELECT PP.FST_CRE_DTM BETWEEN DATE(DATE_ADD(NOW(), INTERVAL -#{ssDateControlDay} DAY)) AND NOW() FROM DUAL) = '1', 'Y', 'N') AS NEW_YN
		  FROM PR_PROD PP
		 WHERE 1 = 1
		   <if test='@org.apache.commons.lang3.StringUtils@isNotEmpty(searchValue)'>
			   <if test='@org.apache.commons.lang3.StringUtils@equals(searchKey, "prodClNm")'>
				   AND F_GET_CODE_NAME('CU005', PP.PROD_CL_CD) LIKE CONCAT('%', #{searchValue}, '%')
			   </if>
			   <if test='@org.apache.commons.lang3.StringUtils@equals(searchKey, "prodNm")'>
				   AND PP.PROD_NM LIKE CONCAT('%', #{searchValue}, '%')
			   </if>
		   </if>
		 ORDER BY PP.PROD_DISCOUNT_RATE DESC, PP.FST_CRE_DTM DESC
	</select>

	<resultMap id="prodMap" type="com.ai.admin.vo.ProdVo">
		<id property="prodId" column="PROD_ID" javaType="java.lang.String"/>
		<id property="prodClCd" column="PROD_CL_CD" javaType="java.lang.String"/>
		<result property="prodNm" column="PROD_NM" javaType="java.lang.String"/>
		<result property="fstCrerId" column="FST_CRER_ID" javaType="java.lang.String"/>
		<result property="fstCrerNm" column="FST_CRER_NM" javaType="java.lang.String"/>
		<result property="fstCreDtm" column="FST_CRE_DTM" javaType="java.lang.String"/>
		<result property="auditId" column="AUDIT_ID" javaType="java.lang.String"/>
		<result property="auditNm" column="AUDIT_NM" javaType="java.lang.String"/>
		<result property="auditDtm" column="AUDIT_DTM" javaType="java.lang.String"/>
		<result property="displayYn" column="DISPLAY_YN" javaType="java.lang.String"/>
		<result property="prodDiscountRate" column="PROD_DISCOUNT_RATE" javaType="java.lang.String"/>
		<result property="prodPrice" column="PROD_PRICE" javaType="java.lang.String"/>
		<result property="prodMarket" column="PROD_MARKET" javaType="java.lang.String"/>
		<result property="prodCtt" column="PROD_CTT" javaType="java.lang.String"/>
		<result property="fileYn" column="FILE_YN" javaType="string"/>
		<collection property="fileList" ofType="com.ai.common.vo.FileVo">
			<result property="fileId" column="FILE_ID" javaType="java.lang.String"/>
			<result property="fileNm" column="FILE_NM" javaType="java.lang.String"/>
			<result property="fileOgNm" column="FILE_OG_NM" javaType="java.lang.String"/>
		</collection>
	</resultMap>

	<!-- 상품 상세 조회 -->
	<select id="selectProdOne" parameterType="com.ai.admin.vo.ProdVo" resultMap="prodMap">
		SELECT PP.PROD_ID
			 , PP.PROD_CL_CD
			 , F_GET_CODE_NAME('CU005', PP.PROD_CL_CD) AS PROD_CL_NM
			 , PP.FST_CRER_ID
			 , IFNULL((SELECT USER_NM FROM CU_USER WHERE USER_ID = PP.FST_CRER_ID), PP.FST_CRER_ID) AS FST_CRER_NM
			 , DATE_FORMAT(PP.FST_CRE_DTM, '%Y.%m.%d') AS FST_CRE_DTM
			 , PP.AUDIT_ID
			 , IFNULL((SELECT USER_NM FROM CU_USER WHERE USER_ID = PP.AUDIT_ID), PP.AUDIT_ID) AS AUDIT_NM
			 , DATE_FORMAT(PP.AUDIT_DTM, '%Y.%m.%d') AS AUDIT_DTM
			 , PP.PROD_NM
			 , PP.DISPLAY_YN
			 , PP.PROD_DISCOUNT_RATE
			 , FORMAT(PP.PROD_PRICE , 0) AS PROD_PRICE
			 , PP.PROD_MARKET
			 , PP.PROD_CTT
			 , IF(IFNULL(CF.FILE_ID, '') = '', 'N', 'Y') AS FILE_YN
			 , CF.FILE_ID
			 , CF.FILE_NM
	 		 , CF.FILE_OG_NM
		  FROM PR_PROD PP
		  LEFT JOIN CM_FILE CF ON CF.MENU_ID = '00021' AND CONCAT(PP.PROD_ID, PP.PROD_CL_CD) = CF.TARGET_ID
	     WHERE 1 = 1
	       AND PP.PROD_ID = #{prodId}
	       AND PP.PROD_CL_CD = #{prodClCd}
	</select>

	<!-- 상품 등록 -->
	<insert id="insertProd" parameterType="com.ai.admin.vo.ProdVo">
		INSERT INTO PR_PROD (
			PROD_ID
			, PROD_CL_CD
			, FST_CRER_ID
			, FST_CRE_DTM
			, AUDIT_ID
			, AUDIT_DTM
			, PROD_NM
			, DISPLAY_YN
			, PROD_DISCOUNT_RATE
			, PROD_PRICE
			, PROD_MARKET
			, PROD_CTT
		)
		VALUES (
			#{prodId}
			, #{prodClCd}
			, #{ssLoginId}
			, NOW()
			, #{ssLoginId}
			, NOW()
			, #{prodNm}
			, #{displayYn}
			, #{prodDiscountRate}
			, #{prodPrice}
			, #{prodMarket}
			, #{prodCtt}
		)
	</insert>

	<!-- 상품 수정 -->
	<update id="updateProd" parameterType="com.ai.admin.vo.ProdVo">
		UPDATE PR_PROD
		   SET PROD_NM = #{prodNm}
		     , DISPLAY_YN = #{displayYn}
		     , PROD_DISCOUNT_RATE = #{prodDiscountRate}
			 , PROD_PRICE = #{prodPrice}
			 , PROD_MARKET = #{prodMarket}
			 , PROD_CTT = #{prodCtt}
			 , AUDIT_ID = #{ssLoginId}
			 , AUDIT_DTM = NOW()
		 WHERE 1 = 1
		   AND PROD_ID = #{prodId}
	       AND PROD_CL_CD = #{prodClCd}
	</update>

	<!-- 상품ID 채번 -->
	<select id="selectProdId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT LPAD(IFNULL(MAX(PROD_ID), 0) + 1, 8, '0') AS PROD_ID
		  FROM PR_PROD
		 WHERE PROD_CL_CD = #{prodClCd}
	</select>

</mapper>