<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.ai.auth.dao.AuthMapper">
    <!-- 로그인 -->
    <select id="getUserAccount" resultType="com.ai.auth.vo.UserVo">
        SELECT USER_ID
             , FST_CRER_ID
             , FST_CRE_DTM
             , AUDIT_ID
             , AUDIT_DTM
             , USER_NM
             , USER_NICK_NM
             , USER_SEX
             , USER_AUTH
             , USER_PW
             , USER_GRADE
             , PHONE_NUM1
             , PHONE_NUM2
             , PHONE_NUM3
             , ADDRESS
             , BIRTH
             , EMAIL
             , JOB
             , TEAM
             , F_GET_CODE_NAME('CU003', LEVEL) AS LEVEL
             , USER_ID AS SS_LOGIN_ID
          FROM CU_USER
         WHERE USER_ID = #{userId}
           AND DEL_YN = 'N'
    </select>

    <!-- 회원가입 존재여부 체크 -->
    <select id="selectExistsUser" resultType="java.lang.String">
        SELECT IF(COUNT(*) > 0, 'Y', 'N') AS EXISTS_USER
          FROM CU_USER
         WHERE USER_ID = #{userId}
    </select>

    <!-- 회원가입 -->
    <insert id="saveUser" parameterType="com.ai.auth.vo.UserVo">
        INSERT INTO CU_USER (
			USER_ID
            , FST_CRER_ID
            , FST_CRE_DTM
            , AUDIT_ID
            , AUDIT_DTM
            , USER_NM
            , USER_NICK_NM
            , USER_SEX
            , USER_AUTH
            , USER_PW
            , DEL_YN
            , USER_GRADE
            , PHONE_NUM1
            , PHONE_NUM2
            , PHONE_NUM3
            , ADDRESS
            , BIRTH
            , EMAIL
            , JOB
            , TEAM
            , LEVEL
        )
        VALUES(
        	#{userId}
        	, #{ssLoginId}
        	, NOW()
        	, #{ssLoginId}
        	, NOW()
        	, #{userNm}
        	, #{userNickNm}
        	, #{userSex}
        	, #{userAuth}
        	, #{userPw}
        	, 'N'
        	, #{userGrade}
        	, #{phoneNum1}
        	, #{phoneNum2}
        	, #{phoneNum3}
        	, #{address}
        	, #{birth}
        	, #{email}
        	, #{job}
        	, #{team}
        	, #{level}
        );
    </insert>

</mapper>