<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.ai.common.dao.CommonMenuMapper">
	<select id="selectTopMenu" parameterType="java.lang.String" resultType="com.ai.common.vo.CommonMenuVo">
		SELECT CM.MENU_ID
		     , CM.UP_MENU_ID
		     , CM.MENU_NM
		     , CM.MENU_URL
		     , CM.VISIBLE_YN
		     , CM.DP_YN
		     , CM.MENU_DEPTH
		  FROM CM_MENU CM
		 WHERE 1 = 1
		   AND VISIBLE_YN = 'Y'
		   AND MENU_DEPTH IN ('1', '2')
		   AND NOT EXISTS (SELECT 1 FROM CM_ROLE_MENU WHERE MENU_ID = CM.MENU_ID)
		 UNION
		SELECT CM.MENU_ID
		     , CM.UP_MENU_ID
		     , CM.MENU_NM
		     , CM.MENU_URL
		     , CM.VISIBLE_YN
		     , CM.DP_YN
		     , CM.MENU_DEPTH
		  FROM CM_ROLE_MENU RM
		     , CM_MENU CM
		 WHERE 1 = 1
		   AND RM.MENU_ID = CM.MENU_ID
		   AND CM.VISIBLE_YN = 'Y'
		   AND CM.MENU_DEPTH IN ('1', '2')
		   AND RM.ROLE_ID = #{roleId}
		 ORDER BY MENU_ID
	</select>

	<select id="selectMenu" parameterType="java.lang.String" resultType="com.ai.common.vo.CommonMenuVo">
		SELECT CM.MENU_ID
		     , CM.MENU_NM
		     , CM.MENU_URL
		     , CM.VISIBLE_YN
		     , CM.DP_YN
     		 , IF((SELECT UP_MENU_ID FROM CM_MENU WHERE MENU_ID = #{menuId}) = CM.MENU_ID, 'Y', 'N') AS YN
		  FROM CM_MENU CM
		 WHERE 1 = 1
		   AND VISIBLE_YN = 'Y'
		   AND NOT EXISTS (SELECT 1 FROM CM_ROLE_MENU WHERE MENU_ID = CM.MENU_ID)
		   AND UP_MENU_ID = (
		   		SELECT UP_MENU_ID
		   		  FROM CM_MENU
		   		 WHERE MENU_ID = (
			   		 WITH RECURSIVE MENU_3 (MENU_ID, UP_MENU_ID, MENU_DEPTH) AS
						(
							SELECT MENU_1.MENU_ID, MENU_1.UP_MENU_ID, MENU_1.MENU_DEPTH
							FROM CM_MENU MENU_1
							WHERE MENU_1.MENU_ID = #{menuId}

							UNION ALL

							SELECT MENU_2.MENU_ID, MENU_2.UP_MENU_ID, MENU_2.MENU_DEPTH
							FROM CM_MENU MENU_2
							INNER JOIN MENU_3 ON MENU_2.MENU_ID = MENU_3.UP_MENU_ID
						)
						SELECT MENU_ID
						  FROM MENU_3
						 WHERE 1 = 1
						   AND MENU_DEPTH = '2'
		   		 )
		   )
		 UNION
		SELECT CM.MENU_ID
		     , CM.MENU_NM
		     , CM.MENU_URL
		     , CM.VISIBLE_YN
		     , CM.DP_YN
		     , IF((SELECT UP_MENU_ID FROM CM_MENU WHERE MENU_ID = #{menuId}) = CM.MENU_ID, 'Y', 'N') AS YN
		  FROM CM_ROLE_MENU RM
		     , CM_MENU CM
		 WHERE 1 = 1
		   AND RM.MENU_ID = CM.MENU_ID
		   AND CM.VISIBLE_YN = 'Y'
		   AND UP_MENU_ID = (
		   		SELECT UP_MENU_ID
		   		  FROM CM_MENU
		   		 WHERE MENU_ID = (
			   		 WITH RECURSIVE MENU_3 (MENU_ID, UP_MENU_ID, MENU_DEPTH) AS
						(
							SELECT MENU_1.MENU_ID, MENU_1.UP_MENU_ID, MENU_1.MENU_DEPTH
							FROM CM_MENU MENU_1
							WHERE MENU_1.MENU_ID = #{menuId}

							UNION ALL

							SELECT MENU_2.MENU_ID, MENU_2.UP_MENU_ID, MENU_2.MENU_DEPTH
							FROM CM_MENU MENU_2
							INNER JOIN MENU_3 ON MENU_2.MENU_ID = MENU_3.UP_MENU_ID
						)
						SELECT MENU_ID
						  FROM MENU_3
						 WHERE 1 = 1
						   AND MENU_DEPTH = '2'
		   		 )
		   )
		   AND RM.ROLE_ID = #{roleId}
		 ORDER BY MENU_ID
	</select>

</mapper>